#hero-section {
  height: 500px;
  margin-bottom: 20px;
  position: relative;
  background: none;
  position: relative;
  overflow: hidden; /* Ensures no overflow from pseudo-element */
}

.section-container {
  display: flex;
  width: 100%;
  max-width: 1552px;
  margin: 40px 0;
  box-shadow: 4px 4px 20px 2px black;
  border-radius: 10px;
  background-color: #202020;
}

#hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../../public/wallpaperOfMovies.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(30%);
  z-index: -1; /* Ensures the pseudo-element stays behind the content */
}

#text-container {
  width: 50%;
  padding: 50px;
  max-height: fit-content;
}

#bold-hero-text {
  font-weight: bold;
}

.hero-section-text {
  font-size: 30px;
  margin-bottom: 50px;
}

.listed-movie-card {
  position: absolute;
  background-color: #202020;
  box-shadow: 4px 4px 10px 2px black;
  width: fit-content;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 310px;
}

.hero-images {
  position: relative;
}

.hero-image {
  max-height: 80%;
}

#dune {
  top: 20px;
  right: 400px;
  z-index: 2;
}

#kfp {
  right: 275px;
  top: 100px;
  z-index: 1;
}

#immaculate {
  top: 175px;
  right: 150px;
}

.movie-user-status {
  font-size: large;
  max-height: 20%;
}

.images {
  width: 50%;
}

.home-button {
  font-size: 40px;
  width: 400px;
  height: 100px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.home-button:hover {
  filter: brightness(60%);
  box-shadow: 6px 6px 20px 6px #0b0b0b;
}

.movie-label {
  font-size: 24px;
  text-shadow: 4px 4px 10px black;
  margin-bottom: 10px;
  margin-top: 0;
  padding-left: 20px;
  padding-top: 20px;
}

.movie-slider-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #202020;
  margin: 40px 0;
  box-shadow: 4px 4px 20px 2px black;
  border-radius: 10px;
}

.movie-slider {
  height: 325px;
  padding: 0 10px;
  gap: 10px;
  max-width: 100%;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 1552px;
}

.movie-card {
  max-height: 317px;
  min-width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 15px 0;
}

.movie-image {
  height: 80%;
  border-radius: 5px;
}

.movie-card:hover {
  box-shadow: 6px 6px 20px 6px #0b0b0b;
  background-color: #3c3c3c;
}

.movie-title {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 175px;
  min-height: 22px;
  max-height: 20%;
  font-weight: 900;
  font-size: large;
  font-family: "Gruppo";
}

#ai-suggestions {
  min-height: 350px;
  justify-content: center;
}

#ai-sugg-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
}

.home-text {
  text-align: center;
  font-size: 20px;
}

#ai-sugg-main-text {
  font-size: 40px;
  margin-top: 20px;
}

#ai-sugg-secondary-text {
  font-size: 24px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/40%);
}

#movie-view-page {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  gap: 2rem;
  width: 850px;
  border-radius: 10px;
  padding: 20px;
  background-color: #2c2c2c;
  box-shadow: 4px 4px 30px 2px black;
}

#movie-view-image {
  width: 300px;
}

#close-button-div {
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
  height: fit-content;
  position: absolute;
  right: 20px;
}

#close-button-div:hover {
  filter: brightness(50%);
}

.movie-text {
  margin: 0;
  font-size: 16px;
  margin-bottom: 30px;
}

#movie-view-title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Gruppo";
}

#movie-view-title-overview {
  max-width: 50%;
}

#movie-overview {
  text-align: justify;
  font-size: 16px;
}

#other-movie-information {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  grid-template-rows: 50px 50px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#movie-user-rating {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#movie-rating-label {
  font-weight: bold;
}

#movie-rating-input {
  margin-left: 10px;
  border-radius: 10px;
  height: 30px;
  width: 40px;
  font-size: large;
  background-color: #4c4c4c;
  border: none;
  color: white;
  padding-left: 10px;
}

#movie-release-date {
  margin-bottom: 20px;
}

#movie-status {
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#edit-button-group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

#cta {
  height: 500px;
  justify-content: center;
  align-items: center;
}

#cta-title {
  font-size: 50px;
}

.cta-text {
  font-size: 32px;
  text-align: center;
}

#cta-div {
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1552px) {
  .section-container {
    max-width: 1280px;
  }
  .movie-slider-container {
    max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .section-container {
    max-width: 1024px;
  }
  .movie-slider-container {
    max-width: 1024px;
  }
  .hero-images {
    left: 100px;
  }
  #ai-suggestions {
    min-height: 400px;
  }
  #cta {
    min-height: 650px;
  }
}

@media (max-width: 1024px) {
  .section-container {
    max-width: 768px;
  }
  .movie-slider-container {
    max-width: 768px;
  }
  .hero-images {
    left: 140px;
  }
  #dune {
    right: 300px;
  }
  #kfp {
    right: 160px;
    top: 200px;
  }
  #immaculate {
    top: 375px;
    right: 300px;
  }
  #hero-button {
    width: 350px;
  }
  #hero-section {
    min-height: 700px;
  }
  #cta {
    min-height: 700px;
  }
}

@media (max-width: 925px) {
  #movie-view-page {
    max-width: 600px;
    max-height: 75%;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  #other-movie-information {
    gap: 0;
  }
  .movie-text {
    text-align: center;
  }
  #close-button-div {
    margin: 0;
    width: fit-content;
    max-width: 475px;
  }
  #edit-button-group {
    position: static;
    align-items: center;
  }
  #movie-overview {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .section-container {
    max-width: 640px;
  }
  .movie-slider-container {
    max-width: 640px;
  }
  #dune {
    right: 225px;
  }
  #immaculate {
    top: 350px;
    right: 225px;
  }
  #hero-button {
    width: 300px;
    font-size: 35px;
  }
  #movie-view-page {
    max-width: 440px;
  }
  #movie-view-image {
    width: 200px;
  }
}

@media (max-width: 640px) {
  .section-container {
    max-width: 475px;
  }
  .movie-slider-container {
    max-width: 475px;
  }
  .listed-movie-card {
    display: none;
  }
  #hero-section {
    min-height: 800px;
  }
  #ai-suggestions {
    min-height: 825px;
  }
  #cta {
    min-height: 900px;
  }
  #movie-view-page {
    width: 350px;
  }
  #trending-movies-label {
    margin-left: 10px;
  }
  #ai-suggestions {
    min-height: 500px;
  }
}

@media (max-width: 475px) {
  .section-container {
    max-width: 100%;
  }
  .movie-slider-container {
    max-width: 100%;
  }
}
