body {
  background-color: #2c2c2c;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100dvh;
  color: #ffffff;
}

#title {
  text-align: center;
  margin-bottom: 0;
  margin-left: 15px;
  margin-top: 0;
  cursor: pointer;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

#active {
  font-weight: bold;
}

.navbar-item-name {
  cursor: pointer;
  font-size: large;
  text-align: center;
  width: 80px;
  transition: translate 0.3s ease-in-out;
}

.navbar-item-name:hover {
  translate: 0 2px;
  text-shadow: 0.5px 0 black, -0.5px 0 black, 0 0.5px black, 0 -0.5px black; /* These values can be adjusted based on your design */
}

#user-account-buttons {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#username {
  font-weight: bold;
  font-size: large;
  margin: 0;
}

.auth-button {
  font-size: large;
  height: 40px;
  width: 80px;
  cursor: pointer;
  background: none;
  border: none;
  color: #ffffff;
  border-radius: 5px;
}

#user-account {
  display: flex;
  cursor: pointer;
}

#login-button {
  margin-right: 20px;
}

#logout-button {
  margin-left: 5px;
}

.auth-button:hover {
  background-color: #4c4c4c;
  box-shadow: 4px 4px 4px #1b1b1b;
}
