body {
  background-color: #2c2c2c;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  text-shadow: 2px 2px 6px black;
  font-family: "Merriweather Sans";
}

main {
  flex: 1;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  color: #ffffff;
}

#title {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  cursor: pointer;
  font-family: "Cuprum", "Arial";
}

#header-container {
  background-color: #1b1b1b;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
  min-width: 100%;
  border-radius: 0;
}

.sub-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: 1536px;
}

.navbar {
  list-style: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  width: 100%;
  max-width: 1536px;
}

#active {
  font-weight: bold;
}

.navbar-item-name {
  cursor: pointer;
  width: 80px;
  transition: translate 0.3s ease-in-out;
}

.navbar-item-name:hover {
  translate: 0 2px;
  text-shadow: 0.5px 0 black, -0.5px 0 black, 0 0.5px black, 0 -0.5px black; /* These values can be adjusted based on your design */
}

.button-group {
  display: flex;
  position: relative;
}

.button {
  font-size: large;
  min-height: 40px;
  width: fit-content;
  cursor: pointer;
  background: none;
  border: none;
  color: #ffffff;
  background-color: #4c4c4c;
  box-shadow: 2px 2px 4px black;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.button:hover {
  filter: brightness(90%);
  box-shadow: 4px 4px 8px #0d0d0d;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2.8rem;
  right: 0;
  width: 100px;
  background-color: #3c3c3c;
  box-shadow: 6px 6px 20px #0f0f0f;
  z-index: 3;
  border-radius: 5px;
}

.dropdown-link {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  height: 35px;
  transition: background 0.3s ease-in-out;
}

.dropdown-link:hover {
  background-color: #1a1a1a;
}

#profile-btn {
  position: relative;
  background-color: #4c4c4c;
  box-shadow: 4px 4px 10px #0f0f0f;
  font-weight: bold;
}

#profile-btn:hover {
  background-color: #3c3c3c;
  box-shadow: 6px 6px 20px black;
}

#logout-button {
  margin-left: 20px;
}

#user-account {
  display: flex;
  cursor: pointer;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}

.sub-page {
  width: 100%;
  max-width: 1552px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  height: 200px;
  width: 100%;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 4px 4px 20px 2px black;
}

#footer-navbar {
  text-align: center;
}

#footer-socials {
  margin-top: 40px;
  display: flex;
  gap: 1rem;
}

#footer-copyright {
  margin-top: auto;
  width: 100%;
  background-color: #111111;
}

#footer-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 30px;
  margin: 0;
}

#copyright {
  font-size: 14px;
}

.social-icon {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #111111;
  margin-block: 0.5rem;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #3c3c3c;
  border-radius: 20px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4c4c4c;
}

@media (max-width: 1536px) {
  .sub-header-container {
    max-width: 1280px;
  }
  .navbar {
    max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .sub-header-container {
    max-width: 1024px;
  }
  .navbar {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .sub-header-container {
    max-width: 768px;
  }
  .navbar {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .sub-header-container {
    max-width: 640px;
  }
  .navbar {
    max-width: 640px;
  }
}

@media (max-width: 640px) {
  .sub-header-container {
    max-width: 475px;
  }
  .navbar {
    max-width: 475px;
  }
}

@media (max-width: 475px) {
  .sub-header-container {
    max-width: 100%;
  }
  .navbar {
    max-width: 100%;
  }
}
