#generate-recs-list {
  background-color: #4c4c4c;
  box-shadow: 2px 2px 4px black;
  font-size: 20px;
  width: 350px;
  height: 50px;
}

#generate-recs-list:hover {
  box-shadow: 4px 4px 8px black;
  filter: brightness(80%);
}

#guest-msg {
  text-align: center;
  pointer-events: none;
}
