.search-recs-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  max-width: 1552px;
}

#search-movie-container {
  padding: 0 20px;
  min-height: 90px;
  max-width: 400px;
  display: flex;
  margin: 0;
  padding: 0;
}

#search-bar-container {
  padding: 10px;
  align-self: center;
}

#search-form {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

#search-input {
  height: 30px;
  max-width: 250px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  background-color: #4c4c4c;
  color: #ffffff;
  padding: 10px;
  margin-right: 20px;
  transition: box-shadow 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#search-input:hover {
  filter: brightness(90%);
  box-shadow: 2px 2px 10px black;
}

#search-submit-btn {
  height: 50px;
}

.movie-grid {
  display: grid;
  overflow-y: auto;
  grid-template-columns: repeat(auto-fit, 200px);
  max-height: 400px;
  width: 100%;
}

.dropup {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#ai-suggestions-by-genre {
  display: flex;
  width: fit-content;
  min-height: 90px;
  margin: 0;
}

.genre-recs-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 20px;
}

.genres-container {
  height: 40px;
  font-size: 20px;
  color: white;
  background-color: #4c4c4c;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 8px black;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.genres-container:hover {
  box-shadow: 4px 4px 12px black;
}

#get-recs-btn {
  font-size: 20px;
}

#get-recs-btn:disabled {
  pointer-events: none;
  cursor: alias;
}

@media (max-width: 1552px) {
  .search-recs-container {
    max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .search-recs-container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  #search-input {
    font-size: 18px;
  }
  .search-recs-container {
    max-width: 768px;
  }
  #search-movie-container {
    max-width: 368px;
  }
  #ai-suggestions-by-genre {
    max-width: 368px;
  }
  #get-recs-btn {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  #search-input {
    font-size: 20px;
    min-width: 490px;
  }
  .search-recs-container {
    max-width: 640px;
    flex-direction: column;
  }
  #ai-suggestions-by-genre {
    min-width: fit-content;
    justify-content: center;
  }
  #search-movie-container {
    max-width: 100%;
  }
  #get-recs-btn {
    font-size: 20px;
  }
}

@media (max-width: 640px) {
  .search-recs-container {
    max-width: 475px;
  }
  #ai-suggestions-by-genre {
    min-width: 100%;
  }
  #search-input {
    min-width: 330px;
  }
}
